img,
video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Poppins", serif;
    font-family: "Manrope", serif;
}

li {
    list-style: none;
    margin: 0px;
}

body {
    text-align: center;
    height: 100vh;
}

button {
    cursor: pointer;
    outline: none;
    padding: 10px;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 0.875rem;
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.app-btn {
    background-color: #09B109;
    color: white;
    text-decoration: none;
    border: none;
    box-shadow: 0 4px 24px rgba(9, 177, 9, 0.6),
        inset 0 4px 4px rgba(255, 255, 255, 0.25);
    padding: 7px 12px;
    font-weight: 500;
    font-size: 11px;

    span {
        font-size: 20px;
    }
}

.web-btn {
    border: 1px solid #CCCCCC;
    padding: 7px 12px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: 11px;

    span {
        font-size: 20px;
    }
}

svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: linear-gradient(to bottom, rgba(178, 238, 178, 1), white);
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .image {
        width: 45px;
        height: 45px;
    }

    .support {
        width: 26px;
        height: 24px;

        img {
            width: 26px;
            height: 24px;
        }
    }
}

.header-with-border {
    border-bottom: 1px solid rgba(176, 176, 176, 0.3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1000;
}

.header-without-border {
    border: none;
    box-shadow: none;
    z-index: 0;
}

.section-one {
    display: flex;
    flex-direction: column;
    margin-top: 6.3rem;
    padding: 0px 16px;
    gap: 40px;

    .main {
        display: flex;
        align-items: center;
        gap: 15px;

        .logo {
            background-image: linear-gradient(to bottom right, #45A845 0, #45A845 60%, #1B421B);
            border-radius: 19.5px;
            padding: 10px;

            img {
                width: 62px;
                height: 62px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                text-align: start;
                font-size: 20px;
                font-weight: 700;
            }

            p {
                font-size: 12px;
                font-weight: 500;
                color: #8C8C8C;
            }

            >div:first-child {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .buttons {
                display: flex;
                gap: 10px;
                text-decoration: none;
            }
        }
    }

    .whatsapp-community {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 13px;
        text-align: start;
    }
}

.section-two {
    margin-top: 2rem;
    padding: 10px 16px;

    .screenshots {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 20px;

        .page {
            flex: 0 0 auto;
            width: 120px;
            scroll-snap-align: start;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.08);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 12px;
            overflow: hidden;
        }
    }

    .screenshots::-webkit-scrollbar {
        display: none;
    }
}

.section-three {
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >div:first-child {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-bottom: 10px;

        .setup {
            height: 10rem;
            border-radius: 13.21px;
            box-shadow: 0 0 10.5px rgba(0, 0, 0, 0.2);
            overflow: hidden;

            video {
                object-fit: scale-down;
            }
        }

        h1 {
            font-weight: 600;
            font-size: 2rem;
            line-height: 37px;
        }
    }

    .install-app {
        display: flex;
        flex-direction: column;
        gap: 12px;

        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 24px;
            text-align: center;
            color: rgba(107, 114, 128, 1);
        }

        .buttons {
            padding: 0px 15%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                width: 100%;
            }
        }
    }
}

.section-four {
    display: flex;
    padding: 24px 14px 24px 14px;
    margin-left: 10px;
    gap: 8px;
    overflow-x: auto;
    scroll-snap-type: x none;
    // scrollbar-width: none; /* Firefox */

    .video {
        border-radius: 13.21px;
        flex: 0 0 auto;
        overflow: hidden;
        width: 270px;
        height: 290px;
        scroll-snap-align: start;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 0 10.5px rgba(0, 0, 0, 0.2);
    }
}

.section-four::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.section-five {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;

    h3 {
        font-weight: 500;
        font-size: 18px;
    }

    .rating {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 600;
            font-size: 51px;
            letter-spacing: -2%;
        }

        .stars {
            display: flex;
        }
    }

    .reviews {
        gap: 12px;
        display: flex;
        padding: 20px 14px 20px 14px;
        overflow-x: auto;
        scroll-snap-type: x none;
        width: 100%;

        .review {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 16px 24px;
            border-radius: 13.21px;
            flex: 0 0 auto;
            overflow: hidden;
            width: 320px;
            scroll-snap-align: start;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 0 10.5px rgba(0, 0, 0, 0.2);

            img {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                object-fit: cover;
            }

            main {
                display: flex;
                gap: 12px;

                div {
                    h3 {
                        font-size: 17.5px;
                        font-weight: 600;
                        text-align: start;
                    }

                    .stars {
                        display: flex;
                    }
                }
            }

            p {
                font-size: 0.9rem;
                text-align: start;
            }
        }
    }

    .reviews::-webkit-scrollbar {
        display: none;
    }
}

.section-six {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    h3 {
        font-weight: 600;
        font-size: 18px;
    }

    form {
        display: flex;
        gap: 5px;
        margin-bottom: 0.5rem;
        border: 1px solid #CCCCCC;
        border-radius: 12px;
        width: 100%;

        input {
            flex: 1;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 12px;
            outline: none;
        }

        &:focus-within {
            border-color: #45A845;
            box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.2);
        }

        button {
            background-image: linear-gradient(to bottom right, rgba(0, 172, 0, 1), rgba(79, 220, 79, 1));
            box-shadow: 0px 0px 4px rgba(88, 101, 88, 1);
            padding: 4px 10px;
            margin: 4px;
            border-radius: 8px;
            border: none;

            span {
                color: white;
                font-size: 16px;
            }
        }
    }

    p {
        font-size: 12px;
        text-align: center;
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        font-size: 12px;
        line-height: 24px;
    }
}

.screenshot-section {
    position: fixed;
    z-index: 2000;
    inset: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 5rem 0rem;
    justify-content: center;

    .close-btn {
        padding-right: 1rem;
        width: fit-content;
        align-self: flex-end;
        height: 26px;
        color: white;

        span {
            font-size: 26px;
        }
    }

    .screenshot {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            object-fit: fill;
        }
    }
}

.hide {
    display: none;
}

@media only screen and (min-width: 768px) {

    body {
        background: linear-gradient(to bottom, rgba(178, 238, 178, 1) 8%, white 20%, );
        background-repeat: no-repeat;
        // background-attachment: fixed;
        /* optional: keeps it fixed when scrolling */
        background-size: cover;
    }

    .app-btn {
        padding: 7px 20px;
        font-size: 1.3rem;
    }

    .web-btn {
        padding: 7px 20px;
        font-size: 1.3rem;
    }

    header {
        background: rgba(178, 238, 178, 1);
        padding: 2vh 5%;

        .support {
            display: flex;
            align-items: center;
            gap: 8px;
            width: fit-content;
            height: fit-content;

            img {
                width: 26px;
                height: 24px;
            }

            h3 {
                display: block;
                font-size: 21.6px;
                letter-spacing: -4%;
                font-weight: 600;
            }
        }

        >div:last-child {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                display: flex;
            }
        }
    }

    .section-one {
        margin-top: 15vh;
        padding: 0px 5%;
        flex-direction: row;
        justify-content: space-between;

        .main {
            gap: 2.8rem;

            .logo {
                border-radius: 3rem;
                padding: 24px;

                img {
                    width: 150px;
                    height: 150px;
                }
            }

            .content {
                gap: 40px;

                h2 {
                    font-size: 36px;
                }

                p {
                    font-size: 1rem;
                }

                .buttons {
                    gap: 20px;
                }
            }
        }

        .whatsapp-community {
            font-size: 1.2rem;
        }
    }

    .section-two {
        margin-top: 3rem;
        padding: 10px 5%;

        .screenshots {
            gap: 18px;
            padding-bottom: 2rem;

            .page {
                width: 190px;
                border-radius: 18px;
            }
        }
    }

    .section-three {
        padding: 32px 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;

        >div:first-child {
            .setup {
                display: none;
            }
        }

        >div:last-child {
            display: flex;
            justify-content: space-between;

            .setup {
                display: flex;
                height: 12rem;
                width: 35%;
                border-radius: 20px;
                box-shadow: 0 0 10.5px rgba(0, 0, 0, 0.2);
                overflow: hidden;

                video {
                    object-fit: scale-down;
                }
            }

            .install-app {
                width: 35%;
                gap: 20px;

                p {
                    font-size: 1.2rem;
                }

                .buttons {
                    padding: 0px 5%;
                    gap: 15px;
                }
            }
        }
    }

    .section-four {
        display: flex;
        padding: 3.2rem 5% 3.8rem 5%;
        gap: 18px;

        .video {
            border-radius: 20px;
            width: 390px;
        }
    }

    .section-five {
        padding: 10px 2% 10px 5%;

        h3 {
            font-size: 21px;
            padding-left: 16px;
        }

        .rating {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 60px;
            }
        }

        .reviews {
            gap: 18px;

            .review {
                gap: 16px;
                border-radius: 20px;
                width: 360px;

                img {
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                }

                main {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    div {
                        h3 {
                            padding: 0px;
                            font-size: 20px;
                        }
                    }
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .section-six {
        margin-top: 3.2rem;
        margin-bottom: 5rem;
        padding: 16px 5%;
        gap: 10px;
        align-items: start;
        width: 40%;

        h3 {
            font-size: 22.6px;
        }

        p {
            font-size: 15px;
        }
    }

    footer {
        flex-direction: row-reverse;
        justify-content: center;
        padding: 20px;
        gap: 5%;

        p {
            font-size: 1rem;
        }
    }

    .screenshot-section {
        width: 100vw;
        height: 100vh;
        padding: 10%;
        gap: 30px;

        .close-btn {
            padding-right: 0rem;
            height: 30px;

            span {
                font-size: 30px;
            }
        }

        .screenshot {
            width: 100%;
            height: 100%;

            img {
                width: fit-content;
            }
        }
    }
}